/* Riddle
 *
 * /steegins/colors
 *
 * coded by Anne
 * started at 29/10/2018
 */

$lightContrastColor: #00c1c1;


$lightColor: #68B3C3;
$middleColor: #958878;
$darkColor: #362F27;

$labor: #282828;
$titles: #3A3A3A;
