/* Riddle
 *
 * /steegins/fonts
 *
 * coded by Anne
 * started at 29/10/2018
 */

 @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

 $labor: "Open Sans", "arial", "sans-serif";

 $sub3: 1.272em;
 $sub2: 1.618em;
 $title: 2.058em;
 $titlexl: 2.618em;
 $titlexxl: 4.236em;
