
/* Riddle
 *
 * /sass/base/root.scss - Base styles
 *
 * coded by Anne
 * started at 10/11/2018
 */

 .sro {
     display: none;
 }

 html {
     font-family: $font;
     font-weight: 300;
     line-height: 1.5;
 }

p {
    line-height: 1.5;
}
