/* Riddle
 *
 * /sass/components/nav.scss - Navigation
 *
 * coded by Anne
 * started at 29/10/2018
 */

 nav.navbar{
	position: fixed;
	top: -9em;
	margin-bottom: 0px;
	padding: .5em 0;
	width: 100%;
	border-radius: 0px;
	transition: all 0.2s;
    background: white;
}

.navbar-header {
    width: 15%;
}

.navbar-nav{
	float: right;
    margin-top: 2em;
}

nav.navbar.fixed-to-top{
	top: 0px;
}

.navbar-default{
	border: none;
	opacity: 1;
	display: none;
	z-index: 9999;
}

.navbar-default .navbar-nav>li>a {
	color: $darkColor;
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: $lightColor;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	outline: 0;
}

/* brand / logo */
.navbar-default .navbar-brand{
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2em;
    height: auto;

    img {
        width: 100%;
    }
}
